@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "pompiere";
  src: url("./assets/fonts/Pompiere-Regular.ttf");

  @font-face {
    font-family: "roboto";
    src: url("./assets/fonts/Roboto-Variable.ttf");
  }

  @theme {
    --font-pompiere: "pompiere", sans-serif;
    --font-roboto: "roboto", sans-serif;
    --shadow-custom: 0px 4px 12px rgba(255, 255, 255, 0.3);
    --shadow-custom-black: 0px 4px 12px rgba(0, 0, 0, 0.3);
  }
}
* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

h1 {
  @apply underline font-semibold text-gray-700 dark:text-gray-300 text-2xl !font-roboto;
}

.container {
  @apply my-9 w-[90%] mx-auto rounded shadow-custom-black dark:shadow-custom h-[80vh] grow;
}

.input {
  @apply w-full border text-gray-600 dark:text-white  border-gray-400 rounded-md px-4 pt-7 pb-2 text-sm placeholder-transparent outline-none focus:border-2 focus:border-blue-500;
}

.inputSettings {
  @apply bg-gray-900 py-1 text-white px-2 rounded text-sm outline-none focus:border-2 focus:border-blue-600 w-[250px];
}

/* Neutraliser le comportement d'autofill */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  @apply bg-white rounded-full cursor-pointer;
}

[data-rmiz-modal-overlay="visible"] {
  background-color: rgba(30, 30, 30, 0.9) !important;
  backdrop-filter: blur(2px);
}
